@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

.synthjive__container {
  background: rgb(196, 0, 209);
  background: -moz-radial-gradient(
    circle,
    rgba(196, 0, 209, 1) 0%,
    rgba(129, 46, 230, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(196, 0, 209, 1) 0%,
    rgba(129, 46, 230, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(196, 0, 209, 1) 0%,
    rgba(129, 46, 230, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c400d1",endColorstr="#812ee6",GradientType=1);
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.synth__nav__container {
  display: flex;
  width: 100%;
  background: #7b05f0;
  justify-content: stretch;
  color: #93d1ce;
  padding: 1rem;
  font-size: 3em;
}

.synth__main {
  min-height: 70vh;
  padding: 4rem;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 30px;
  width: 100%;
}

.synth__box {
  color: #93d1ce;
  background: #7b05f0;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
}

.gui__controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  gap: 20px;
}

.synth__record--label {
  font-size: 1.75rem !important;
}

.synth--notes {
  grid-column: 1 / -1;
  min-height: 10vh;
}

.gui__keyboard {
  margin-top: 20px;
}

.synth--keyboard {
  min-height: 40vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  background: rgba(66, 66, 66, 0.548);
  column-gap: 10px;
}

.synth--list {
  margin-top: 20px;
}

.synth__btn--clear {
  font-size: 1.5rem !important;
  background: #7b05f0 !important;
  color: #93d1ce !important;
}

.synth__btn--clear:hover {
  background: #93d1ce !important;
  color: #7b05f0 !important;
}

.synth__alert {
  background: #7b05f0 !important;
  color: #93d1ce !important;
  font-size: 1.5em;
}

.synth__alert--btn {
  background: #93d1ce !important;
  color: #7b05f0 !important;
}

.synth__alert--btn:hover {
  background: black !important;
  color: white !important;
}

@media (max-width: 700px) {
  .synth__main {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .gui__controls {
    grid-template-columns: 1fr;
  }
  .synth--keyboard {
    min-height: 30vh;
  }
  .synth__box {
    font-size: 1em;
  }
  .synth__record--label {
    font-size: 1em !important;
  }
}
